<ion-header>
  <ion-toolbar>
    <ion-title>BusIFPI - Motorista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="menu" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="menu">
      <ion-label>Menu</ion-label>
    </ion-segment-button>
    <ion-segment-button value="notifications">
      <ion-label>Avisar</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="selectedSegment == 'menu'">
    <ion-item>
      <ion-label class="name-label">OPÇÕES DO MOTORISTA</ion-label>
    </ion-item>
    <ion-item button routerLink="/motorista-map" lines="none">
      <ion-icon name="navigate-outline" slot="start" style="color: red"></ion-icon>
      <p class="name-bt"> INICIAR UMA ROTA </p>
    </ion-item>
  </ion-list>

  <div *ngIf="selectedSegment == 'notifications'">
    <ion-list *ngFor="let idea of (ideas | async)">
      <ion-item>
        <ion-label class="name-label">ALERTAS ATIVOS</ion-label>
      </ion-item>

      <ion-item button [routerLink]="['/motorista-alert', idea.id]">
        <ion-icon slot="start" name="alert-circle-outline" class="{{ idea.icon }}"></ion-icon>
        <p class="alertName">{{ idea.title }}</p>
      </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed" routerLink="/motorista-alert">
      <ion-fab-button>+</ion-fab-button>
    </ion-fab>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="logout()" *ngIf="selectedSegment == 'menu'">
    <ion-fab-button>
      <ion-icon name="exit-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>