<ion-content fullscreen scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/images/slide-1.png"/>
        <h2>BEM-VINDO(A)!</h2>
        <p>Seja muito Bem-vindo(a) ao <b>BusIF App</b> o aplicativo que facilita a você, aluno do Instituto Federal, à se locomover de forma fácil e segura.</p>
        <ion-button fill="clear">Deslize <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/slide-2.png"/>
      <h2>Em suas mãos!</h2>
      <p>Tenha em suas mãos acesso à <b>localização em tempo real do ônibus escolar em trânsito!</b> assim você nunca vai chegar atrasado naquela parada <br/>:D</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/slide-3.png"/>
      <h2>Onde eu pego?</h2>
      <p>E por falar em paradas, aqui você também tem acesso as <b>melhores paradas do ônbibus</b> mais próximas de você! E Também é possível ver a melhor rota da sua posição atual até ela!<br/> Legal, né?</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/slide-4.png"/>
      <h2>Pronto para começar?</h2>
      <p>Agora o próximo passo é realizar o login no app fornecido pela instituição através da sua matrícula<br/></p>
      <ion-button fill="clear" routerLink="/login">Entrar!</ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>